* {
    font-family: 'Work Sans';


}




/*----------------------------- 
    Header Styles 
-------------------------*/

.header-container {
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 80px;
    padding-left: 80px;




}

.header-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;

}


.header-ul ul {
    list-style: none;

}

.list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

.list a {
    text-decoration: none;
    color: #424242;
}



/* ----------------------------
    Section Header 
----------------------------*/

.section-header {
    text-align: center;
    margin-top: 100px;
}

.section-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}

.section-title-details {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.section-header-btn {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}



/*----------------------------
     Banner Image 
---------------------------*/

.banner img {
    width: 1300px;
    height: 600px;
    margin-top: 50px;
    padding-left: 90px;
    padding-bottom: 45px;

}





/* -------------------------------
    Quick List Section
---------------------------- */

.features {
    display: flex;
    margin-top: 85px;
    column-gap: 76px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 130px;
}

.feature-img {
    width: 300px;
    height: 300px;
}

.feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 60px;

}

.feature-details {
    padding-top: 180px;
    justify-content: left;

}

.dot {
    color: #727272;
    font-weight: 500;
    font-size: 40px;
}

.dote {
    color: #FF900E;
    font-weight: 700;
    font-size: 40px;
}

.feature-title {
    color: #131313;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.feature-details-info {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;


}

.feature-btn {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}




/*-------------------------------
     Experience section 
-----------------------------*/


.experience-container {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    column-gap: 100px;
    margin-bottom: 100px;
}

.experience-banner {
    position: relative;
}

.experience-banner img {
    width: 500px;
    height: 700px;
}

.experience-details {
    row-gap: 200px;
}

.experience-info {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.experience-btn {
    position: absolute;
    right: 55%;
    top: 80%;
    width: 300px;
    height: 150px;
    background-color: #FF900E;
    border-radius: 8px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    padding: 30px;
}

.experience-title {
    color: #131313;
    font-weight: 700;
    font-size: 35px;
}

.ex-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.ex-detail {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}






/*--------------------------
     Award Section 
----------------------------*/

.award-section {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}




.awards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 100px;

}

.award-logo {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    position: relative;

}

.award-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.award-detail {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}



.award-logo img {
    position: absolute;
    left: 39%;
    top: 14%;

}

.detail-container {
    position: absolute;
    text-align: center;
    left: 27%;
    top: 36%;

}

.detail-info {
    color: #424242;
    font-weight: 600;
    font-size: 25px;
}

.detail-info-2 {
    color: #727272;
    font-weight: 600;
    font-size: 12px;
}





/* -------------------------------
        Sponsor Section
------------------------------- */


.sponsor-section {
    margin: 100px 100px;
}

.sponsor-title {
    text-align: center;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-top: 50px;
}

.sponsor-title-info {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.sponsor-title-detail {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}



/*------------------------ 
        Footer Section 
--------------------------------*/


.footer-section {
    background: #FFF4E7;
    border-radius: 8px;
    height: 70px;
    margin: 100px 100px 30px 100px;
    text-align: center;
    padding-top: 30px;
}




/* ---------------------------
        Responsive Section 
----------------------------------*/


/* Small device */

@media  and (max-width: 576px) {{

    .header-container{
        width: 100%;

    }



}

/* .hide{
    display: none;
} */
